li{
    color:aquamarine
  }
  
.selected{
    color:bisque
  }

.header {
  background-color: lightskyblue;
  color: black;
  height: 90px;
}

.header-logo {
  font-size: 36px;
  float: left;
  padding: 20px 40px;
}

.header-list li {
    list-style:none;
    float:left;
    padding: 33px 20px;
  }
  
img {
    height: 80px;
    width: 90px;
    float: right;
}

.main {
    padding: 60px 40px;
}
  

.copy-container h1 {
    font-size: 80px;
    margin-bottom: 5px;
}
  
.copy-container h2 {
    font-size: 40px;
    margin-top: 10px;
}

.copy-container span {
    color:lightblue;
}

.contents {
    height: 500px;
    margin-top: 100px;
}
  

.section-title {
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 25px;
}
  
  
.contents-item {
    float: left;
    margin-right: 20px;
}

.contents-item p {
    font-size: 15px;
    margin-top: 10px;
}

.contact-form {
  padding-top: 100px;
}

/* Tambahkan CSS untuk tags <input> dan <textarea> */
input, textarea {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

/* Tambahkan CSS untuk contact-submit */
.contact-submit {
  background-color: #dee7ec;
  color: #889eab;
}

.footer {
  background-color: slategray;
  height: 270px;
  padding: 40px;
}

.footer-logo {
    font-size: 32px;
    float: left;
}
  
  /* Gantikan float property footer-list */
.footer-list {
    float: right;
}
  
  /* Tambahkan CSS untuk tag <li> kedalam footer-list */
.footer-list li {
    padding-bottom: 20px;
    list-style:none;
    color:aquamarine ;
}

  
