li{
    color:aquamarine
  }
  
.selected{
    color:bisque
  }


li {
  list-style:none;
  float:left;
  padding: 33px 20px;
}

.header {
  background-color: lightskyblue;
  color: brown;
  height: 90px;
}

.header-logo {
  font-size: 36px;
  float: left;
  padding: 20px 40px;
}

.main {
  background-color: lightsteelblue;
  height: 600px;
}

.footer {
  background-color: slategray;
  height: 270px;
}


  
