li{
    color:aquamarine
  }
  
.selected{
    color:bisque
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
    /* Cara agar header tidak hilang saat di scroll ke bawah */
  position: fixed;
  top: 0;
  /* Ubah z-index ke 10 */
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  /* Ubah property transition */
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Tambahkan CSS untuk tag <a> didalam header-right */
.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}


.main {
    padding: 60px 40px;
}
  
.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

/* Tambahkan CSS untuk top-wrapper */
.main {
  padding: 180px 0 100px 0;
  background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
  background-size: cover;
  color: white;
  /* Ubah nilai property text-align ke center */
  text-align: center;
}

.contents {
    height: 500px;
    margin-top: 100px;
}

.main h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.main p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

/* Tambahkan CSS untuk btn pada saat ditunjuk */
.btn:hover {
  opacity: 1;
}

.signup {
  background-color: #239b76;
}


.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}


.twitter {
  background-color: #55acee;
}


.btn-wrapper {
  margin: 20px 0;
}


.btn-wrapper p {
  margin: 10px 0;
}

.fa {
  margin-right: 5px;
}

.section-title {
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 25px;
}
  
  
.contents-item {
    float: left;
    margin-right: 20px;
}

.contents-item p {
    font-size: 15px;
    margin-top: 10px;
}

.contact-form {
  padding-top: 100px;
}

.contact-form-2 {
  padding-top: 100px;
    margin-top: 2px;
    margin-bottom: 5px;
    
}

/* Tambahkan CSS untuk tags <input> dan <textarea> */
input, textarea {
  width: 400px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}

/* Tambahkan CSS untuk contact-submit */
.contact-submit {
  background-color: #dee7ec;
  color: #889eab;
}

.footer {
  background-color: slategray;
  height: 270px;
  padding: 40px;
}

.footer-logo {
    font-size: 32px;
    float: left;
}
  
  /* Gantikan float property footer-list */
.footer-list {
    float: right;
}
  
  /* Tambahkan CSS untuk tag <li> kedalam footer-list */
.footer-list li {
    padding-bottom: 20px;
    list-style:none;
    color:aquamarine ;
}

  
